#top-nav-bar {
    height: 0;
    display: block;
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 4;
  font-size: 16px;
  
} 
#pagetop {
   
    
    background-color: #410C00;
    padding-left: 10px;
    padding-right: 16px;
    font-family: 'Source Sans Pro Topnav', sans-serif;
    min-width: 330px;
    font-size: 1.4rem;
}

#top-nav-bar a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
}

#top-nav-bar a:hover {
    background-color: #dddddd;
    color: rgb(210, 145, 145);
}
/*navigation bar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 10;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Add some margin to the top of the page content */
#top-nav-bar ~ .Snicker.bar {
    margin-top: 1rem;
}

 /* Style for header */
 header {
    text-align: center;
    padding-top: 40px ;
    color: #410C00;
}

/* Style for main content */
main {
    padding: 10px;
   color:   #410C00;
   padding-bottom: 80px;
   
}

.intro{
  display: flex;
  align-items: center;
}

.intro-text{
    flex: 1;
    padding: 20PX;
}

.sideimage {
    flex: 1;
    text-align: right;
    width: 450PX;
    height: auto;
    float: right;
    
}

.factslist, p {
    color: #210082;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}


/* Style for sections */
section {
    margin-bottom: 20px;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
    
}

.centered-image{
   width: 100%;
   height: auto;

}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;

}

.centered-text h3 {
    margin: 0;
   font-size: 1.875rem;
}

/* Style for footer */
footer {
    background-color: #410C00;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}

.footer-content {
    display: flex;
    align-items: center;
     
}

.footer-text {
    margin: 0; /* Remove default margin */
    font-size: 1.5 rem;
    text-align: center;
    color: #dddddd;
  
}

.icon-style {
    height: 2.5em;

}

.About us img{
float: left;
}

.About{
text-align: center;

}

 /* Style the images section */
 .images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .images img {
    width: 30%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .images img:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  }